/* General Reset for Homepage */
.homepage-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Layout */
.homepage-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Left Side (Logo) */
.homepage-container .logo-container {
  flex: 1;
  background-color: #eaf5f4; /* Left side color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container .logo-container .logo-img {
  max-width: 90%;
  height: auto;
  animation: none; /* Disable spinning animation */
}

/* Right Side (Text Content) */
.homepage-container .content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #016b66; /* Right side color */
  color: #fff; /* Text color for the right side */
}

.homepage-container .content-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
}

.homepage-container .content-container p {
  font-size: 1.2rem;
  margin-bottom: 20px; /* Add space between text and buttons */
}

/* Auth0 Button Container */
.homepage-container .auth-btn-container {
  display: flex;
  flex-direction: column;  /* Stack the buttons vertically */
  align-items: center;    /* Center the buttons horizontally */
}

/* Auth0 Button Styling */
.homepage-container .auth-btn {
  font-size: 1rem;
  padding: 0.8rem 6rem;
  background-color: #646cff !important;
  color: white !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px; 
  margin-bottom: 2px; 
}

.homepage-container .auth-btn:hover {
  background-color: #eaf5f4 !important;
  color: #016b66 !important;
}

/* Responsive Logo Positioning */
@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column;
  }

  .homepage-container .logo-container {
    flex-basis: auto;
    height: 50vh; /* Adjust as necessary */
  }

  .homepage-container .content-container {
    padding: 1rem;
    text-align: center;
  }
}

/* Override styles from app.css */
#root {
  max-width: 100vw; /* Allow homepage to take full width */
  margin: 0;
  padding: 0;
}
